@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Inter:wght@500;600&display=swap');

.scrollbar {
  height: calc(100vh - 248px);
  overflow-y: scroll;
  padding-right: 3px;
}

@media only screen and (max-width: 768px) {
  .scrollbar {
    height: calc(100vh - 212px);
    overflow-y: scroll;
    padding-right: 23px;
    padding-top: 1px;
  }

  .scrollbar::-webkit-scrollbar {
    width: 1.5px;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.dot-flashing {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #0066ff;
  color: #0066ff;
  animation: dot-flashing 0.5s infinite linear alternate;
  animation-delay: 0.2s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -8px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #0066ff;
  color: #0066ff;
  animation: dot-flashing 0.5s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 8px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #0066ff;
  color: #0066ff;
  animation: dot-flashing 0.5s infinite alternate;
  animation-delay: 0.3s;
}

@keyframes dot-flashing {
  0% {
    background-color: #0066ff;
  }

  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}